<div ng-controller="ThingsToDoController as vm" class="page things-to-do">
    <div class="cover-photo things-to-do-cover-photo"></div>
    <div class="page-content things-to-do-content">
        <div class="coming-soon">
            Coming soon!
        </div>
        <div class="separator-line"></div>
        <div class="text-center">
            We'll soon be adding recommendations of our favorite things for visitors to do in Charleston. If you'll be spending some extra time in the area either before or after our wedding, check back later!
        </div>
    </div>
</div>
