<div class="page things-to-do">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content things-to-do-content text-left">
            <div class="styled-tabs">
                <span class="tab-line"></span>
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Food
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="things-to-do-tab-content mx-auto">
                            <ul>
                                <li>
                                    <p class="list-item-heading">Hominy Grill</p>
                                    <p>Renowned Lowcountry classic that serves what are arguably the city’s best takes on shrimp and grits, fried chicken biscuits (the Big Nasty), and lots of sides.</p>
                                    <p>
                                        <ul>
                                            <li><a href="https://goo.gl/maps/snZzV25SUfR2" target="_blank">207 Rutledge Ave, Charleston, SC</a></li>
                                            <li>(843) 937-0930 (note: they do not take reservations)</li>
                                            <li>Mon-Fri: 7:30am-3pm; Sat-Sun: 9am-3pm</li>
                                        </ul>
                                    </p>
                                </li>
                                <li>
                                    <p class="list-item-heading">FIG</p>
                                    <p>FIG is arguably one of the best restaurants in Charleston with one of the most talented chefs, Jason Stanhope (it was named by Eater as one of America’s top 3 restaurants in 2016). Its magic lies in his small plates crafted from hyper-local, seasonal ingredients. The dining room is very formal and difficult to secure reservations, though the best seat in the house is at the lively bar.</p>
                                    <p>
                                        <ul>
                                            <li><a href="https://goo.gl/maps/RUvwFDSr8ys" target="_blank">232 Meeting St, Charleston, SC</a></li>
                                            <li>(843) 805-5900</li>
                                            <li>Mon-Thurs: 5pm-10:30pm; Fri-Sat: 5pm-11pm; Sun: Closed</li>
                                        </ul>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Landmarks &amp; Tours
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="things-to-do-tab-content mx-auto">
                            <ul>
                                <li>
                                    <p class="list-item-heading">The Battery and White Point Gardens</p>
                                    <p>At the southern tip of the Charleston peninsula, where the Cooper and Ashley Rivers meet to join the Atlantic Ocean, you’ll find a park lined with luxurious antebellum mansions on one side and expansive views of the Charleston harbor and Fort Sumter on the other. Noted by the first Carolina colonists in 1670 as "Oyster Point" or "White Point" (monikers designating the gleaming, white-washed oysters piled upon the shore by Native Americans), the land was later built up as an important defensive unit during the American Revolutionary War, the War of 1812, and again during the American Civil War. Several cannons, statues, and memorials lining the park pay tribute to significant events and people in local history. A promenade atop the sea-walls along the water’s edge encircles the park, and can be followed all the way to the historic Rainbow Row and beyond to the recently restored Waterfront Park.</p>
                                </li>
                                <li>
                                    <p class="list-item-heading">Gibbes Museum of Art</p>
                                    <p>Located on lower Meeting Street, the Gibbes is certainly an overlooked gem in Charleston, one that even many locals have not explored. While a majority of their permanent collection is dedicated to the art and visual culture of the Americas, spanning the colonial period to the present day, they also maintain noteworthy collections such as the Marks Collection of early twentieth-century photography, the Read Japanese Print Collection, and the Ballard Collection of European prints and drawings. Like many art museums today, the building the art is housed in is itself quite impressive (a two-story Beaux Arts style edifice designed by architect Frank Milburn with a stunning stained glass dome in its rotunda).</p>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Nature &amp; Beaches
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="things-to-do-tab-content mx-auto">
                            <p class="text-center">
                                Coming soon!
                            </p>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Shopping
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="things-to-do-tab-content mx-auto">
                            <p class="text-center">
                                Coming soon!
                            </p>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <ng-include src="'components/footer/footer.html'"></ng-include>
</div>
