<div class="page credits">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content credits-content">
            <div class="page-content-heading">
                Special Thanks To Our Vendors
            </div>
            <div class="separator-line"></div>
            <div class="row">
                <div class="col text-right">
                    Coordinator:
                </div>
                <div class="col text-left">
                    <a href="http://www.samanthaandersonevents.com/" target="_blank">Samantha Anderson</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Engagement photography:
                </div>
                <div class="col text-left">
                    <a href="http://www.isaiacrosson.com/" target="_blank">Isaia Crosson</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Wedding photography:
                </div>
                <div class="col text-left">
                    <a href="http://www.melissatoms.com/" target="_blank">Melissa Toms</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Catering:
                </div>
                <div class="col text-left">
                    <a href="http://www.salthousecatering.com/" target="_blank">Salthouse Catering</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Music:
                </div>
                <div class="col text-left">
                    <a href="http://www.17southband.com/" target="_blank">17 South Band</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Florals:
                </div>
                <div class="col text-left">
                    <a href="https://www.luxandunion.com/" target="_blank">Lux &amp; Union</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    Printing:
                </div>
                <div class="col text-left">
                    <a href="http://www.postnet.com/sc114" target="_blank">PostNet of Mount Pleasant</a>
                </div>
            </div>
        </div>
    </div>
</div>
