.credits-content {
    position: absolute;
    top: 300px;
    width: 100%;
}
@media (min-width: 600px) {
    .credits-content {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .credits-content {
        width: 50%;
    }
}
