{
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "indent": ["error", 4],
        "max-len": ["warn", 120],
        "no-var": 0,
        "comma-dangle": ["error", "never"]
    },
    "globals": {
        "$": true
    },
    "env": {
        "browser": true,
        "node": true
    }
}
