<div ng-controller="OurStoryController as vm" class="page our-story">
    <div class="cover-photo our-story-cover-photo"></div>
    <div class="page-content our-story-content">
        <div class="coming-soon">
            Coming soon!
        </div>
        <div class="separator-line"></div>
        <div class="text-center">
            Check back soon for a glimpse into how we met, our first date (there's some disagreement about when this actually was), and the wild ride that has brought us to our big day.
        </div>
    </div>
</div>
