.our-story-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.our-story-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 30em) {
    .our-story-content {
        width: 50%;
    }
}

.our-story-timeline-heading {
    font-style: italic;
}

.our-story-timeline-content {
    margin-left: 2em;
}
