.our-entourage-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.our-entourage-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 600px) {
    .our-entourage-content {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .our-entourage-content {
        width: 50%;
    }
}
