<div ng-controller="OurEntourageController as vm" class="page our-entourage">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content our-entourage-content">
            <div class="page-content-heading">
                Coming soon!
            </div>
            <div class="separator-line"></div>
            <p>
                We have an awesome group of friends & family that have supported us over the years, and we're thrilled to have them join us as our wedding party. Check back here soon to learn a bit about each of them!
            </p>
        </div>
    </div>
</div>
