<nav ng-controller="NavController as vm" class="site-header nav nav-pills justify-content-center">
    <a ng-class="{'nav-active': vm.getActivePage() == 'home'}" class="nav-link" href="/">Home</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'our-story'}" class="nav-link" href="/our-story">Our Story</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'our-entourage'}" class="nav-link" href="/our-entourage">Our Entourage</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'the-wedding'}" class="nav-link" href="/the-wedding">The Wedding</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'travel-and-lodging'}" class="nav-link" href="/travel-and-lodging">Travel & Lodging</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'things-to-do'}" class="nav-link" href="/things-to-do">Things To Do</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'registry'}" class="nav-link" href="/registry">Registry</a>
    <a ng-class="{'nav-active': vm.getActivePage() == 'credits'}" class="nav-link" href="/credits">Credits</a>
</nav>
