<div ng-controller="RsvpController as vm" class="page rsvp">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content rsvp-content text-left">
            <div class="row">
                <form name="rsvpForm" class="mx-auto col-xs-12 col-sm-10 col-md-9" ng-submit="vm.submit(rsvpForm.$valid)" novalidate>
                    <div class="form-group row">
                        <label for="rsvpName" class="col-md-6 col-form-label">Name</label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" class="form-control" id="rsvpName" placeholder="Name"
                                   ng-model="vm.model.name" name="name" required>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-md-6 pt-0">Will you be able to attend?</legend>
                            <div class="col-md-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAttending" id="isAttending1" ng-model="vm.model.isAttending" ng-value="true" checked required>
                                    <label class="form-check-label" for="isAttending1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAttending" id="isAttending2" ng-model="vm.model.isAttending" ng-value="false" required>
                                    <label class="form-check-label" for="isAttending2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="numberOfGuests" class="col-md-6 col-form-label">Number of guests</label>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <input type="number" class="form-control" id="numberOfGuests"
                                   ng-model="vm.model.numberOfGuests" ng-disabled="!vm.model.isAttending" ng-required="vm.model.isAttending" min="0" max="9" name="numberOfGuests" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="rsvpForm.$invalid || vm.saving || vm.saved">Submit</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <span ng-show="vm.saved">Your response has been recorded!</span>
                            <span ng-show="!vm.saving && !vm.saved && vm.error">An error occurred while saving, please try again later.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-include src="'components/footer/footer.html'"></ng-include>
</div>
