.rsvp-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.rsvp-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 30em) {
    .rsvp-content {
        width: 50%;
    }
}
