<div ng-controller="RsvpController as vm" class="rsvp-container">
    <form name="rsvpForm" class="pure-form" ng-submit="vm.submit(rsvpForm.$valid)" novalidate>
        <h3>RSVP</h3>
        <p>
            <label>
                Name:
                <input type="text" ng-model="vm.model.name" name="name" required/>
            </label>
        </p>
        <p>
            Will you be able to attend?&nbsp;
            <label>
                <input type="radio" ng-model="vm.model.isAttending" ng-value="true" name="isAttending" required/>
                Yes&nbsp;
            </label>
            <label>
                <input type="radio" ng-model="vm.model.isAttending" ng-value="false" name="isAttending" required/>
                No
            </label>
        </p>
        <p>
            <label>
                Number of guests:
                <input type="number" ng-model="vm.model.numberOfGuests" ng-disabled="!vm.model.isAttending" ng-required="vm.model.isAttending" min="0" max="9" name="numberOfGuests" class="number-of-guests"/>
            </label>
        </p>
        <p>
            <button type="submit" class="pure-button" ng-disabled="rsvpForm.$invalid || vm.saving || vm.saved">Submit</button>
        </p>
        <p>
            <span ng-show="vm.saved">Your response has been recorded!</span>
            <span ng-show="!vm.saving && !vm.saved && vm.error">An error occurred while saving, please try again later.</span>
        </p>
    </form>
</div>
