<div ng-controller="RsvpController as ctrl" class="rsvp-container">
    <form name="rsvpForm" ng-submit="ctrl.submit(rsvpForm.$valid)" novalidate>
        <h3>RSVP</h3>
        <p>
            <label>
                Name:
                <input type="text" ng-model="ctrl.model.name" name="name" required/>
            </label>
        </p>
        <p>
            Will you be able to attend?
            <label>
                <input type="radio" ng-model="ctrl.model.isAttending" ng-value="true" name="isAttending" required/>
                Yes
            </label>
            <label>
                <input type="radio" ng-model="ctrl.model.isAttending" ng-value="false" name="isAttending" required/>
                No
            </label>
        </p>
        <p ng-show="ctrl.model.isAttending">
            <label>
                Number of guests:
                <input type="number" ng-model="ctrl.model.numberOfGuests" ng-required="ctrl.model.isAttending" min="0" max="9" name="numberOfGuests" class="number-of-guests"/>
            </label>
        </p>
        <p>
            <button type="submit" ng-disabled="rsvpForm.$invalid || ctrl.saving || ctrl.saved">Submit</button>
        </p>
        <p>
            <span ng-show="ctrl.saved">Your response has been recorded!</span>
            <span ng-show="!ctrl.saving && !ctrl.saved && ctrl.error">An error occurred while saving, please try again later.</span>
        </p>
    </form>
</div>