.rsvp-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 600px) {
    .rsvp-content {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .rsvp-content {
        width: 50%;
    }
}
