<div ng-controller="TravelController as vm" class="page travel">
    <div class="cover-photo travel-cover-photo"></div>
    <div class="page-content travel-content">
        <div class="text-center">
            Wish you could teleport to Charleston? Us, too! Here are the next best options.
        </div>
        <div class="separator-line"></div>
        <div class="row">
            <div class="col-sm">
                <p class="travel-type">
                    Fly <i class="fa fa-plane fa-fw"></i>
                </p>
                <p>
                    Charleston International Airport is located 12 miles (19 km) northwest of downtown Charleston and services Alaska, Allegiant, American Airlines, Delta, Frontier, JetBlue, Southwest, and United Airlines. Uber is readily available, as is the Downtown Shuttle for $14 per person.
                </p>
                <p>
                    Once in Charleston, the city is easily walkable, and well-serviced by Uber.
                </p>
            </div>
            <div class="col-sm">
                <p class="travel-type">
                    Drive <i class="fa fa-car fa-fw"></i>
                </p>
                <p>
                    If you plan to drive, this should be self-explanatory. However, please note that parking in downtown Charleston can be difficult. While meters do not charge on Sundays (the day of our wedding), it is often quite challenging to find available on-street parking.
                </p>
                <p>
                    Parking Garages:
                </p>
                <ul>
                    <li>
                        The nearest parking garage to Trinity United Methodist Church (our ceremony venue) is located at 69 Street Wentworth, which charges $12 for the daily maximum.
                    </li>
                    <li>
                        The nearest parking garage to The Old Exchange (our reception venue) is the East Bay Parking Garage, which charges $16 for the daily maximum.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
