<div ng-controller="TravelController as vm" class="page travel">
    <div class="travel-cover-photo"></div>
    <div class="page-content travel-content">
        <p>
            Wish you could teleport to Charleston? Us, too! Here are the next best options.
        </p>
        <p>
            Fly <i class="fa fa-plane fa-fw"></i> - Charleston International Airport is located 12 miles (19 km) northwest of downtown Charleston and services Alaska, Allegiant, American Airlines, Delta, Frontier, JetBlue, Southwest, and United Airlines. Uber is readily available, as is the Downtown Shuttle for $14 per person.
        </p>
        <p>
        Once in Charleston, the city is easily walkable, and well-serviced by Uber.
        </p>
        <p>
        Drive <i class="fa fa-car fa-fw"></i> - If you plan to drive, this should be self-explanatory. However, please note that dowtown Charleston is not car friendly. While meters do not run on weekends, it is often quite difficult to find parking space.
        </p>
        <p>
        Parking Garages -
        <br/>The nearest parking garage to Trinity United Methodist Church (the ceremony venue) is located at 69 Street Wentworth, which charges $12 for the daily maximum.
        <br/>The nearest parking garage to the Old Exchange Building (the reception venue) is the East Bay Parking Garage, which charges $16 for the daily maximum.
        </p>
    </div>
</div>
