<div ng-controller="TravelController as vm" class="page travel d-flex justify-content-center">
    <div class="cover-photo travel-cover-photo"></div>
    <div class="page-content travel-content">
        <div class="page-content-heading">
            Wish you could teleport to Charleston? Us, too! Here are the next best options.
        </div>
        <div class="separator-line"></div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <p class="travel-type">
                    Fly <i class="fa fa-plane fa-fw"></i>
                </p>
                <p>
                    Charleston International Airport is located 12 miles (19 km) northwest of downtown Charleston and services Alaska, Allegiant, American Airlines, Delta, Frontier, JetBlue, Southwest, and United Airlines. Uber is readily available, as is the Downtown Shuttle for $14 per person.
                </p>
                <p>
                    Once in Charleston, the city is easily walkable, and well-serviced by Lyft and Uber.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <p class="travel-type">
                    Drive <i class="fa fa-car fa-fw"></i>
                </p>
                <p>
                    If you plan to drive, this should be self-explanatory. However, please note that parking in downtown Charleston can be difficult. While meters do not charge on Sundays (the day of our wedding), it is often quite challenging to find available on-street parking.
                </p>
                <p>
                    Parking Garages:
                </p>
                <ul>
                    <li>
                        The nearest parking garage to Trinity United Methodist Church (our ceremony venue) is located at 69 Street Wentworth, which charges $12 for the daily maximum.
                    </li>
                    <li>
                        The nearest parking garage to The Old Exchange (our reception venue) is the East Bay Parking Garage, which charges $16 for the daily maximum.
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4">
                <p class="travel-type">
                    Stay <i class="fa fa-home fa-fw"></i>
                </p>
                <p>
                    We strongly encourage using sites such as <a href="https://www.airbnb.com" target="_blank">Airbnb</a> or <a href="https://www.homeaway.com" target="_blank">Homeaway</a> to find accommodations, as hotels in downtown Charleston are quite expensive and you can usually find a much better deal on one of these sites. And it'd be a great idea to book a larger place together with other family members or friends!
                </p>
                <p>
                    Due to the number of other events the same weekend in Charleston, there are no reserved hotel blocks available within a reasonable distance to the historic center of Charleston. If you instead prefer a traditional hotel, you can find hotels to choose from on <a href="https://www.hotels.com/" target="_blank">Hotels.com</a> or <a href="https://www.tripadvisor.com/" target="_blank">TripAdvisor</a>. We can recommend some hotels based on the following locations:
                </p>
                <p>
                    <b>Downtown</b> - where our wedding is taking place, you can conveniently walk anywhere, including to our wedding venues as well as the historic district and many great shops and restaurants.
                </p>
                <ul>
                    <li>
                        <a href="https://www.ihg.com/holidayinn/hotels/us/en/charleston/chsms/hoteldetail" target="_blank">Holiday Inn</a>
                    </li>
                    <li>
                        <a href="https://www.choicehotels.com/south-carolina/charleston/ascend-hotels/sc559" target="_blank">Bluegreen Vacations King Street Resort</a>
                    </li>
                    <li>
                        Want to splurge? <a href="https://www.thedewberrycharleston.com/" target="_blank">The Dewberry</a>
                    </li>
                </ul>
                <p>
                    <b>Mount Pleasant</b> - these are located across the river from downtown, so you'll need a car (or Lyft/Uber), but it's only a very short ride, so these may be your best bet for saving money over staying downtown while still being close by.
                </p>
                <ul>
                    <li>
                        <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/mount-pleasant/chsgr/hoteldetail" target="_blank">Holiday Inn Express & Suites</a>
                    </li>
                    <li>
                        <a href="http://hiltongardeninn3.hilton.com/en/hotels/south-carolina/hilton-garden-inn-charleston-mt-pleasant-CHSPLGI/index.html" target="_blank">Hilton Garden Inn</a>
                    </li>
                    <li>
                        <a href="http://hamptoninn3.hilton.com/en/hotels/south-carolina/hampton-inn-charleston-mt-pleasant-patriots-point-CHSMTHX/index.html" target="_blank">Hampton Inn</a>
                    </li>
                </ul>
                <p>
                    <b>Airport (North Charleston)</b> - the best deals in the greater Charleston area can usually be found very near to the airport, but a farther drive from downtown than the hotels in Mount Pleasant. There isn't a lot to see or do in this area, so you'll probably find yourself doing more driving.
                </p>
                <ul>
                    <li>
                        <a href="http://www.marriott.com/hotels/travel/chscn-courtyard-north-charleston-airport-coliseum/" target="_blank">Courtyard by Marriott</a>
                    </li>
                    <li>
                        <a href="http://hamptoninn3.hilton.com/en/hotels/south-carolina/hampton-inn-and-suites-charleston-airport-CHSAPHX/index.html" target="_blank">Hampton Inn & Suites</a>
                    </li>
                    <li>
                        <a href="https://www.choicehotels.com/south-carolina/north-charleston/comfort-inn-hotels/sc307" target="_blank">Comfort Inn & Suites</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
