.travel-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.travel-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 1200px) {
    .travel-content {
        width: 85%;
    }
}

.travel-type {
    text-align: center;
}

.travel .row > div {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
