.registry-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.registry-content {
    position: absolute;
    top: 300px;
}

.registry-sites {
    margin: 0;
}
@media (min-width: 48em) {
    /* A bit of space to either side of the bulleted list on tablets and larger */
    .registry-sites {
        margin: 0 2em;
    }
}

.registry-sites > li {
    margin-bottom: 1em;
}

.registry-site-name {
    font-size: larger;
}