.registry-content {
    width: 100%;
}
@media (min-width: 600px) {
    .registry-content {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .registry-content {
        width: 50%;
    }
}

.registry-heading {
    font-weight: bold;
    font-style: italic;
}

.registry-sites > li {
    margin-bottom: 1em;
}
