<div ng-controller="RegistryController as vm" class="page registry d-flex justify-content-center">
    <div class="cover-photo registry-cover-photo"></div>
    <div class="page-content registry-content">
        <div class="registry-heading">
            Dearest friends and family, there is nothing that will bring us greater joy than having you share with us in our special day. We appreciate your coming from near and far for this happy occasion, and your presence is gift enough. Yet if you feel inspired to donate to a worthy cause or help us complete our home, please enjoy browsing the sites below.
        </div>
        <div class="separator-line"></div>
        <ul class="registry-sites">
            <li>
                <a href="http://www.umcor.org/" target="_blank">UMCOR</a>
                <br/>We encourage donations of any kind be made out to the United Methodist Committee on Relief, a non-profit organization dedicated to humanitarial relief, disaster response, sustainable development, and global health in over 80 countries. Because all administrative costs are covered by the United Methodist Church, 100% of your contribution will go to directly to its programs. You may give an undesignated donation, or if you are passionate about giving to a specific program that alleviates human suffering, you can search their projects <a href="http://www.umcor.org/Search-for-Projects/Search-for-Projects" target="_blank">here</a> and contribute accordingly.
            </li>
            <li>
                <a href="https://www.zola.com/wedding/nomorekiddingaround/registry" target="_blank">Zola</a>
            </li>
            <li>
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=545598368&eventType=Wedding" target="_blank">Bed Bath & Beyond</a>
                <br/>Be sure to use a <a href="https://www.retailmenot.com/view/bedbathandbeyond.com" target="_blank">coupon</a>! (they never expire)
            </li>
        </ul>
    </div>
</div>
