.registry-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.registry-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 30em) {
    .registry-content {
        width: 50%;
    }
}

.registry-heading {
    font-weight: bold;
}

.registry-sites > li {
    margin-bottom: 1em;
}
