.the-wedding-cover-photo {
    background-image: url("/shared/images/cover-photo.jpg");
    height: 300px;
}

.the-wedding-content {
    position: absolute;
    top: 300px;
}
@media (min-width: 30em) {
    .the-wedding-content {
        width: 50%;
    }
}

.styled-tabs .nav {
    text-align: center;
}

.styled-tabs .nav-item {
    position: relative;
    float: none;
    display: inline-block;
    margin-bottom: 0 !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    width: 45%;
}
@media (min-width: 30em) {
    .styled-tabs .nav-item {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
        width: initial;
    }
}

.styled-tabs .nav-item a {
    margin: 0 auto;
    padding: 0;
    position: relative;
    outline: 0;
    border: 0;
    color: #212529;
    text-decoration: none;
}

.styled-tabs .nav-item a.active {
    background: none;
}

.styled-tabs .nav-item a:hover {
    background: transparent;
}

.styled-tabs ul {
    display: flex;
    justify-content: center;
}

.styled-tabs .nav-tabs {
    border: none;
    position: relative;
}

.styled-tabs .tab-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #000;
    z-index: 2;
    text-align: center;
}

.styled-tabs .tab-icon i {
    color: #212529;
}

.styled-tabs .tab-icon:hover {
    color: #212529;
    background: #212529;
}

.styled-tabs .active .tab-icon {
    background: #212529;
}

.styled-tabs .tab-label {
    display: block;
    padding-bottom: .5em;
    text-align: center;
}
.styled-tabs .tab-label:hover {
    text-decoration: underline;
}

.styled-tabs .tab-line {
    position: absolute;
    margin: 0 auto;
    top: 5.5em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    left:0;
    right:0;
}

.styled-tabs .tab-content {
    margin-top: 2em;
}

/* Reposition the line that the tab circles sit on for smaller screens where they break onto separate lines */
.styled-tabs .tab-line {
    top: 9.5em;
}
@media (min-width: 30em) {
    .styled-tabs .tab-line {
        display: block;
        top: 7.8em;
    }
    .styled-tabs .nav-tabs {
        flex-wrap: nowrap;
    }
}

.styled-tabs .tab-label-heading {
    font-weight: bold;
    font-size: larger;
}
