<div class="page the-wedding">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content the-wedding-content">
            <div class="the-wedding-leadin">
                If you'll be in Charleston on Saturday, November 10, we plan to gather at <a href="http://www.fuelcharleston.com" target="_blank">Fuel</a> to watch as our Clemson Tigers take on Boston College! The game time has yet to be announced, so keep an eye on the <a href="http://clemsontigers.com/sports/football/schedule/" target="_blank">schedule</a>. This will just be an informal get-together to relax and enjoy the company of our friends and loved ones.
            </div>
            <div class="styled-tabs">
                <span class="tab-line"></span>
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Wedding Ceremony
                                </div>
                                <div class="tab-label-subheading">
                                    Sunday, November 11 at 4:00 PM
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="d-sm-flex text-center">
                            <img src="components/the-wedding/trinity.jpg" class="mb-4 mb-sm-0" inline id="trinity-photo" alt="Trinity United Methodist Church" />
                            <div class="d-xl-flex ml-sm-4">
                                <div class="mr-xl-4 mb-4 mb-xl-0 text-left">
                                    <p class="text-justify">
                                        We invite all of you who have brought love, laughter, and support into our lives to join us in a celebration of our love as we exchange our vows with each other in the presence of the Lord.
                                    </p>
                                    Come as you are, but cocktail / semi-formal attire is suggested.
                                </div>
                                <div class="text-left where-when-column">
                                    <p>
                                        <b>Where:</b> Trinity <span class="text-nowrap">United Method Church</span> (<a href="https://goo.gl/maps/eLqZKWrqbqy" target="_blank">Map</a>)
                                    </p>
                                    <p>
                                        <b>When:</b> Sunday, <span class="text-nowrap">November 11</span> at 4:00 PM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            <span class="tab-label">
                                <div class="tab-label-heading">
                                    Cocktail Hour &amp; Reception
                                </div>
                                <div class="tab-label-subheading">
                                    Sunday, November 11 at 6:30 PM
                                </div>
                            </span>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="d-sm-flex text-center">
                            <img src="components/the-wedding/old-exchange.jpg" class="mb-4 mb-sm-0" inline id="old-exchange-photo" alt="The Old Exchange &amp; Provost Dungeon" />
                            <div class="d-xl-flex ml-sm-4">
                                <div class="mr-xl-4 mb-4 mb-xl-0 text-justify">
                                    Following the ceremony, make your way from Trinity to the Old Exchange, where cocktail hour begins at 6:30pm. Not long after, you'll be invited upstairs to join us for an evening of dinner and dancing to your heart's content!
                                </div>
                                <div class="text-left where-when-column">
                                    <p>
                                        <b>Where:</b> The <span class="text-nowrap">Old Exchange &amp;</span> <span class="text-nowrap">Provost Dungeon</span> (<a href="https://goo.gl/maps/FrJT4QKDMeJ2" target="_blank">Map</a>)
                                    </p>
                                    <p>
                                        <b>When:</b> Sunday, <span class="text-nowrap">November 11</span> at 6:30 PM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <ng-include src="'components/footer/footer.html'"></ng-include>
</div>
