<div class="page the-wedding">
    <div class="cover-photo secondary-cover-photo"></div>
    <div class="d-flex justify-content-center">
        <div class="page-content the-wedding-content">
            <div class="styled-tabs">
                <span class="tab-line"></span>
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <div class="tab-label">
                                <div class="tab-label-heading">
                                    Wedding Ceremony
                                </div>
                                <div class="tab-label-subheading">
                                    Sunday, November 11 at 4:00 PM
                                </div>
                            </div>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-sm text-center">
                                <img src="components/the-wedding/trinity.jpg" id="trinity-photo" alt="Trinity United Methodist Church" />
                            </div>
                            <div class="col-sm">
                                <p>
                                    We invite all of you who have brought love, laughter, and support into our lives to join us in a celebration of our love as we exchange our vows with each other in the presence of the Lord.
                                </p>
                                Come as you are, but cocktail / semi-formal attire is suggested.
                            </div>
                            <div class="col-sm d-flex">
                                <div class="mx-auto">
                                    <div class="row">
                                        <div class="col-md-3 text-left text-md-right">
                                            Where:
                                        </div>
                                        <div class="col-9 text-left">
                                            Trinity United Method Church (<a href="https://goo.gl/maps/eLqZKWrqbqy" target="_blank">Map</a>)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 text-left text-md-right">
                                            When:
                                        </div>
                                        <div class="col-9 text-left">
                                            <p>
                                                Sunday, November 11
                                                <br/>4:00 PM
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab>
                        <uib-tab-heading>
                            <span class="tab-label">
                                <div class="tab-label-heading">
                                    Cocktail Hour & Reception
                                </div>
                                <div class="tab-label-subheading">
                                    Sunday, November 11 at 5:30 PM
                                </div>
                            </span>
                            <span class="tab-icon"></span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-sm text-center">
                                <img src="components/the-wedding/old-exchange.jpg" id="old-exchange-photo" alt="The Old Exchange & Provost Dungeon" />
                            </div>
                            <div class="col-sm">
                                Enjoy food and drinks courtesy of the newlyweds while they take photos following the ceremony. Dinner will be ready upstairs at 6pm, but there's no rush! Feel free to mingle, eat, and dance to your heart's content!
                            </div>
                            <div class="col-sm d-flex">
                                <div class="mx-auto">
                                    <div class="row">
                                        <div class="col-md-3 text-left text-md-right">
                                            Where:
                                        </div>
                                        <div class="col-9 text-left">
                                            The Old Exchange & Provost Dungeon (<a href="https://goo.gl/maps/FrJT4QKDMeJ2" target="_blank">Map</a>)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 text-left text-md-right">
                                            When:
                                        </div>
                                        <div class="col-9 text-left">
                                            <p>
                                                Sunday, November 11
                                                <br/>5:30 PM
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <ng-include src="'components/footer/footer.html'"></ng-include>
</div>
