.the-wedding-content {
    position: absolute;
    top: 300px;
    width: 100%;
}
@media (min-width: 800px) {
    .the-wedding-content {
        width: 90%;
    }
}
@media (min-width: 1000px) {
    .the-wedding-content {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .the-wedding-content {
        width: 60%;
    }
}

.styled-tabs .nav {
    text-align: center;
}

.styled-tabs .nav-item {
    position: relative;
    float: none;
    display: inline-block;
    margin-bottom: 0 !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    width: 45%;
}
@media (min-width: 600px) {
    .styled-tabs .nav-item {
        margin-left: 1% !important;
        margin-right: 1% !important;
        width: 40%;
    }
}
@media (min-width: 900px) {
    .styled-tabs .nav-item {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
        width: initial;
    }
}

.styled-tabs .nav-item a {
    margin: 0 auto;
    padding: 0;
    position: relative;
    outline: 0;
    border: 0;
    color: #212529;
    text-decoration: none;
}

.styled-tabs .nav-item a.active {
    background: none;
}

.styled-tabs .nav-item a:hover {
    background: transparent;
}

.styled-tabs ul {
    display: flex;
    justify-content: center;
}

.styled-tabs .nav-tabs {
    border: none;
    position: relative;
}

.styled-tabs .tab-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #000;
    z-index: 2;
    text-align: center;
}

.styled-tabs .tab-icon i {
    color: #212529;
}

.styled-tabs .tab-icon:hover {
    color: #212529;
    background: #212529;
}

.styled-tabs .active .tab-icon {
    background: #212529;
}

.styled-tabs .tab-label {
    display: block;
    padding-bottom: .5em;
    text-align: center;
}
.styled-tabs .tab-label:hover {
    text-decoration: underline;
}

.styled-tabs .tab-line {
    position: absolute;
    margin: 0 auto;
    top: 5.5em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    left:0;
    right:0;
}

.styled-tabs .tab-content {
    margin-top: 2em;
}

/* Reposition the line that the tab circles sit on for smaller screens where they break onto separate lines */
.styled-tabs .tab-line {
    top: 8.5em;
}
@media (min-width: 600px) {
    .styled-tabs .tab-line {
        top: 9.5em;
    }
}
@media (min-width: 900px) {
    .styled-tabs .tab-line {
        display: block;
        top: 6.3em;
    }
    .styled-tabs .nav-tabs {
        flex-wrap: nowrap;
    }
}

.styled-tabs .tab-label-heading {
    font-weight: bold;
    height: 2.9em;
}
@media (min-width: 600px) {
    .styled-tabs .tab-label-heading {
        font-size: larger;
    }
}
.styled-tabs .tab-label-subheading {
    font-size: smaller;

    /* Maximum two lines with an ellipsis if the text exceeds that.
   https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 3em; /* fallback */
    height: 3em;
}
@media (min-width: 600px) {
    .styled-tabs .tab-label-subheading {
        font-size: initial;
    }
}
@media (min-width: 900px) {
    .styled-tabs .tab-label-heading,
    .styled-tabs .tab-label-subheading {
        /* Maximum one line with an ellipsis if the text exceeds that. */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-height: 1.5em; /* fallback */
        max-height: 1.5em; /* fallback */
        height: 1.5em;
        white-space: nowrap;
    }
}
@media (min-width: 1200px) {
    .styled-tabs .tab-label-heading {
        white-space: nowrap;
    }
}

#trinity-photo {
    width:250px;
    height:186px;
}
@media (min-width: 576px) {
    #trinity-photo {
        width:200px;
        height:149px;
    }
}
@media (min-width: 680px) {
    #trinity-photo {
        width:250px;
        height:186px;
    }
}