<div ng-controller="TheWeddingController as vm" class="page the-wedding">
    <div class="the-wedding-cover-photo"></div>
    <div class="page-content the-wedding-content">
        <div class="styled-tabs">
            <span class="liner"></span>
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        <span class="tab-icon"></span>
                        <span class="tab-label">Home</span>
                    </uib-tab-heading>
                    <div>home content</div>
                </uib-tab>

                <uib-tab>
                    <uib-tab-heading>
                        <span class="tab-icon"></span>
                        <span class="tab-label">Profile</span>
                    </uib-tab-heading>
                    <div>profile content</div>
                </uib-tab>

                <uib-tab>
                    <uib-tab-heading>
                        <span class="tab-icon"></span>
                        <span class="tab-label">Contact</span>
                    </uib-tab-heading>
                    <div>contact content</div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
